<div class="address1" style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>

  <app-view></app-view>

  Enter your github userName: <input type="text" [(ngModel)] ="InputBox">

  <button (click)="searchUser()">Submit</button>
  <p>
    <div class="address1" *ngIf="response">  
    <p>
    Name : {{response.name}} <p>
    Bio : {{response.bio}} <p>
    Location : {{response.location}} <p>
    Public repos : {{response.public_repos}} <p>
    Following : {{response.following}} <p>  
    Blog : <a target="_blank" href="{{response.blog}}">{{response.blog}}</a>
  </div>


  <app-date [user]="user"></app-date>


  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

